html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Kufi Arabic", sans-serif;
  font-weight: 300;
}

/* 14213d */
/* Orange  */
/* fca311 */
/* --------- */
/* E9ECEF */
/* DEE2E6 */
/* 212529 */
/* 343A40 */

.btn-primary {
  font-size: 1.8rem;
  padding: 0.6rem 3.2rem;
  background: #222;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  /* border-radius: 1.2rem; */
}

.btn-SC {
  font-size: 1.2rem;
  padding: 0.6rem 2.8rem;
  background: #fca311;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.flexBt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
