.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  height: 100vh;
}

.container h2 {
  font-size: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 38rem;
}
.input {
  padding: 1rem 1.4rem;
  border: 1px solid #141d3d14;
  outline: none;
  font-size: 1.6rem;
}

.input:focus {
  border: 1px solid #000000;
}

.button {
  font-size: 1.6rem;
  padding: 0.6rem 3.2rem;
  background: #222;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  /* border-radius: 1.2rem; */
}

.link {
  font-size: 1.2rem;
  color: #fca311;
  margin-top: -1rem;
}
